<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <h1 id="title">{{ site.title }}</h3>
  <div id="front_table">
    <img id="theman" src="http://cache.lego.com/r/catalogs/-/media/catalogs/characters/dc/mugshots/new%202hy%202015/76034_batman_912x516_360w.png?l.r2=1238082943" alt="Batman Lego">
    <div id="navmenu">
      <a href="/">Home</a>
      <a href="/photos.html">Photos</a>
    </div>
  </div>
  <div class="container">
